<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <%= link_to "QR ATTENDANCE", root_path(), class: 'navbar-brand btn' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav ml-auto">
      <span class="my-auto mx-1">
      <% if user_signed_in? %>
        Bienvenido, <%= current_user.email %></span>
        <li class="nav-item m-1 ">
          <%= link_to "SIGN OUT", destroy_user_session_path(), method: :DELETE, class: 'btn btn-secondary' %>
        </li>
      <% else %>
        <li class="nav-item m-1">
          <%= link_to "SIGN UP", new_user_registration_path(), class: 'btn btn-secondary' %>
        </li>
        <li class="nav-item m-1">
          <%= link_to "SIGN IN", new_user_session_path(), class: 'btn btn-secondary' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
