<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @event.theme %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @event.company.name %>
</p>

<tbody>
  <h2>Workers</h2>
  <% @workers.each do |worker| %>
    <tr>
      <td><%= worker.name %></td>
    </tr>
  <% end %>
</tbody>
<br>
<br>

<%= link_to 'Edit', edit_company_event_path(@company, @event) %> |
<%= link_to 'Back', company_events_path %>
