<%= form_with(model: company, url: [@company], local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-6">
    <div class="field ">
      <%= form.label :name %>
      <%= form.text_field :name, class:'form-control', placeholder: 'Desafío LATAM SA' %>
    </div>
  </div>

  <div class="form-group col-md-6">
    <div class="field">
      <%= form.label :rut %>
      <%= form.text_field :rut, class:'form-control', placeholder: '78.905.689-5' %>
    </div>
  </div>

  <div class="form-group col-md-6">
    <div class="field">
      <%= form.label :adress %>
      <%= form.text_field :adress, class:'form-control', placeholder: 'Rebeca Matte, Santiago' %>
    </div>
  </div>

<button type="submit" class="btn btn-primary m-1">CREATE COMPANY</button>
<% end %>
