<p id="notice"><%= notice %></p>
<div class="container col">
  <h1 class="jumbotron p-1">Companies</h1>

  <div class="m-1 p-1">
    <%= link_to 'Add New Company', new_company_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container col">
  <table class='table'>
    <thead>
      <tr>
        <th>Company</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><h6><%= company.name %></h6></td>
          <td><%= link_to 'Show', company, class:'btn btn-outline-info btn-sm' %></td>
          <td><%= link_to 'Edit', edit_company_path(company), class:'btn btn-outline-dark btn-sm' %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-warning btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
